@model PrimeTables.Web.Models.MultiplicationTableViewModel

@{
    ViewBag.Title = "Prime Multiplication Table Generator";
}


<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Please enter a table Size" />
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">
                    Create Table!
                </button>
            </span>
        </div>
    </div>
</div>

<br />

@Html.DisplayForModel()
