@model PrimeTables.Web.Models.MultiplicationTableViewModel

@{
    ViewBag.Title = "Prime Multiplication Table Generator";
}


<h1>@ViewBag.Title</h1>

@using(Html.BeginRouteForm(RouteNames.Home.Index, FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @Html.TextBoxFor(m => m.TableSize, new { @class="form-control", placeholder="Please enter a table Size" })
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                        Create Table!
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Html.ValidationMessageFor(m => m.TableSize)
        </div>
    </div>
}

<br />

@Html.DisplayForModel()
